:root {
	--blue: #05386B;
	--dark-green: #379683;
	--green: #5CDB95;
	--light-green: #8EE4AF;
	--white: #EDF5E1;
}

body *{
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.is-hidden {
	filter: blur(4px);
	font-size: 1.35rem;
}

.Wrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.Header {
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--green);
	color: var(--blue);
}

.Words {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: var(--green);
}

.Word {
	height: 10vh;
	font-size: 1.1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--blue);
	color: var(--white);
	font-weight: bold;
	letter-spacing: 0.08rem;
}

.Word--en {
	margin-bottom: 0.5rem;
}

.Buttons {
	height: 12vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: var(--green);
}

.Button {
	background: var(--green);
	letter-spacing: 0.08rem;
	border: none;
	color: var(--blue);
	border: 2px solid var(--blue);
	font-size: 1.1rem;
	width: 6rem;
	border-radius: 0.2rem;
	padding: 0.8rem 1rem;
	cursor: pointer;
}